/* estilos globales */
*{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: #012045;
    color: white;
}
/* estilos de etiquetas*/
h1{
    color: blue;
}

li{
    list-style: none;
}

a{
    color: white  ;
    text-decoration: none;
}

h2{
    color: green;
}
 /* selector anidado o jerarquia */
header nav ul li a span{
    color: lightsalmon 
}
/* selector multiple que afecta a los h1 y a los ul */
h1, ul {
    font-weight: 700;
}

.imagen{
    width: 700px;
    height: 400;
    border: solid 3px gray;
}

.imagen-green-border{
    border-color: greenyellow;
}

#send{
    background-color: green;
    color: white;
}

#reset{
    background-color: red;
    color: white;
}

/* cual es el comodin de la especificada? */

button#reset{
    background-color: purple !important;
}

/* el simbolo > indica que la relacion hijo padre es directa*/

section > h2, h1{
    color: rgb(0, 205, 241);
}

/* el + es sinonimo del siguiente elemento que se encuentra en la misma jerarquia */ 
ul li.services + li a{
    color: blueviolet;
}

/* pseudo clase focus */
input:focus, select:focus, textarea:focus{
    border: solid red;
}

img:hover{
    filter: saturate(0);
}

/* lista-tech */

.lista-tech li{
    margin: 5px;
}

.lista-tech li::before{
    content: "⭐";
    text-decoration: none;
}
/* Cada 5 afecta el estilo */
.lista-tech li:nth-child(5n){
    color: red;
}
/* Quiero afectar solo al primero */
.lista-tech li:first-child{
    color: yellowgreen;
}
/* Quiero afectar solo al ultimo */
.lista-tech li:last-child{
    text-decoration: line-through;
    font-size: 24px;
}
/* Cada 3 items quiero afectar el primero */
.lista-tech li:nth-child(3n+1){
    color: cornflowerblue;
}